<h3>Categories</h3>
<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %> |
<% end %>

<br></br>

<h4>Available Items:</h4>
<ul>
  <% @items.each do |item| %>
    <li><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %>
    <%= button_to 'Add to Cart', line_items_path(item_id: item) if user_signed_in? %></li>
  <% end %>
<ul>
